[Unit]
Description=Garage door opener
After=network.target

[Service]
User=dan
Group=www-data
WorkingDirectory=/usr/local/garagedoor/app
ExecStart=/usr/bin/npm run start
Restart=unless-stopped

[Install]
WantedBy=multi-user.target
