[Unit]
Description=Garage door opener
After=network.target

[Service]
User=dan
Group=www-data
WorkingDirectory=/opt/garagedoor/
ExecStartPre=npm run build
ExecStart=npm run start

[Install]
WantedBy=multi-user.target
