<html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Garage</title>

    <style>
        @font-face {
            font-family: Comfortaa;
            src: url("{{ url_for('static', filename='fonts/Comfortaa-VariableFont_wght.ttf') }}");
        }
        
        body {
            background-image: url("{{ url_for('static', filename='images/background.svg') }}");
        }
    </style>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}">

</head>

<body class="col-layout">

    <div class="row end">

        <input type="button" onclick="redirectLogout()" value="Logout">

    </div>

    <div class="login-form full">

        <h1 class="row center">Garage Door Access Control</h1>

        <div class="row center">
            <img class="camera" src="{{ url_for('videostream.stream') }}" width="640" height="480">
        </div>

        <div class="center">
            <input id="open-door-btn" class="action-btn" type="button" value="Trigger Door">
            <!-- <input id="close-door-btn" class="action-btn" type="button" value="Close" disabled> -->
        </div>

        </form>

        <div id="toast-container"></div>

        <script type="text/javascript">
            // set the API_URL
            const API_URL = "{{ url_for('relay.index') }}"
            const READY_URL = "{{ url_for('relay.readycheck') }}"

            const redirectLogout = () => document.location.href = "{{ url_for('auth.logout') }}"
        </script>

        <script type="text/javascript" src="{{ url_for('static', filename='scripts/index.js') }}"></script>

</body>

</html>
