:root {
    --text-primary: black;
    --text-secondary: rgb(78, 78, 78);
    --text-light: white;
    --accent: #173545;
    --error: tomato;
    --form-background: #A3D8E0dd;
    --field-background: #E0F4F5;
    --background: #5EBBC9;
    --disabled-background: #73888b;
    --focus-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--background); */
    font-family: Comfortaa, sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    padding: 2em;
}

.login-form {
    max-width: 600px;
    width: 20em;
    background-color: var(--form-background);
    border-radius: 1em;
    padding: 3em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    box-sizing: border-box;
}

.full {
    max-width: unset !important;
    width: 100% !important;
    /* height: 100% !important; */
    align-self: start;
}

input[type=text],
input[type=password] {
    padding: 1em;
    border-radius: 3px;
    background-color: var(--field-background)
}

input[type=text]:hover,
input[type=password]:hover {
    left: 15px;
    /* transform: scale(1.02); */
    box-shadow: var(--focus-shadow);
}

input[type=submit],
input[type=button] {
    padding: 1em 2em 1em 2em;
    border-radius: 2em;
    background-color: var(--field-background);
    color: var(--accent);
    font-weight: bold;
    outline: none;
    border: none;
    transition: all 100ms ease;
}

input[type=submit]:hover:not([disabled]),
input[type=button]:hover:not([disabled]) {
    color: var(--text-primary);
    /* transform: scale(1.02); */
    box-shadow: var(--focus-shadow);
}

input[type=submit]:disabled,
input[type=button]:disabled {
    color: var(--text-secondary);
    background-color: var(--disabled-background);
}

.login-form .field {
    position: relative;
    margin-bottom: 1em;
    border-radius: 5px;
}

.login-form .field label::before {
    content: attr(title);
    position: absolute;
    top: 0;
    left: 15px;
    line-height: 40px;
    font-size: 14px;
    color: var(--text-primary);
    transition: 100ms all;
}

.login-form .field input:valid+label::before,
.login-form .field input:focus+label::before {
    line-height: 20px;
    font-size: 9px;
    top: -2px;
    /* background: #fff; */
    padding: 0;
    left: 9px;
}

.login-form .field input {
    width: 100%;
    line-height: 40px;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: var(--accent);
    /* border: 1px solid #ccc; */
    border: none;
    outline: none;
}

.login-form .field input:focus {
    outline: 0;
    /* outline: 1px solid var(--text-primary); */
    /* transform: scale(1.02); */
    /* box-shadow: var(--focus-shadow); */
    color: var(--text-primary);
}

.login-form .field input:valid+label::before {
    content: attr(data-title);
}

.login-form .field input:focus+label::before {
    color: var(--accent);
}

.row {
    width: 100%;
    margin-bottom: 1em;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center>* {
    margin: 0em 0.5em;
}

.end {
    display: flex;
    justify-content: end;
    align-items: center;
}

.end>* {
    margin: 0em 0.5em;
}

.col-layout {
    flex-direction: column;
}

.action-btn {
    padding: 10em;
    font-size: 24px;
}

.action-btn:hover:not([disabled]) {
    background-color: tomato !important;
    color: white !important;
}

.error {
    padding: 1em;
    background-color: var(--error);
    border-radius: 0.5em;
}

.camera {
	height: 100%;
	width: 100%;
	max-width: 640px;
	border-radius: 8px;
}

#toast-container {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 0;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
}

#toast-container span {
    margin-top: 1em;
    padding: 1em 2em;
    border-radius: 1em;
    transition: all 0.5s ease;
}

#toast-container .info {
    background-color: lightblue;
    color: blue;
}

#toast-container .success {
    background-color: lightgreen;
    color: green;
}

#toast-container .error {
    background-color: tomato;
    color: darkred;
}

@media (max-width: 600px) {
    .login-form {
        border-radius: 0;
        width: 100%;
    }
    body {
        justify-content: start;
        align-items: start;
        padding: 0;
    }
}
